@import './assets/css/mixins/index.scss';

@font-face {
  font-family: avenirnext;
  src: url(./assets/css/fonts/avenirnext-regular.eot);
  src: url(./assets/css/fonts/avenirnext-regular.eot?hqtb4h#iefix)
      format('embedded-opentype'),
    url(./assets/css/fonts/avenirnext-regular.ttf) format('truetype'),
    url(./assets/css/fonts/avenirnext-regular.woff) format('woff'),
    url(./assets/css/fonts/avenirnext-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: avenirnext;
  src: url(./assets/css/fonts/avenirnext-bold.eot);
  src: url(./assets/css/fonts/avenirnext-bold.eot?hqtb4h#iefix)
      format('embedded-opentype'),
    url(./assets/css/fonts/avenirnext-bold.ttf) format('truetype'),
    url(./assets/css/fonts/avenirnext-bold.woff) format('woff'),
    url(./assets/css/fonts/avenirnext-bold.svg) format('svg');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'avenirnext', 'sans-serif' !important;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: rootFont($_extraLarge);
  font-family: 'avenirnext', 'sans-serif';
  background: white;
  @include media($extraLarge) {
    font-size: rootFont($_extraLarge);
  }
  @include media($large) {
    font-size: rootFont($_large);
  }
  @include media($medium) {
    font-size: $baseFontSize * 1px;
  }
  @include media($small) {
    font-size: rootFont($_small);
  }
  @include media($tablet) {
    font-size: rootFont($_tablet);
  }
  @include media($mobile) {
    font-size: 16px;
  }
  @include media($plus) {
    font-size: mobileRootFont($_plus);
  }
  @include media($normal) {
    font-size: mobileRootFont($_normal);
  }
  @include media($tiny) {
    font-size: mobileRootFont($_tiny);
  }
}

p {
  margin: 0;
}

h2 {
  position: relative;
}
.title-bullets {
  position: relative;
  margin-top: p2r(20);
  text-align: center;
  height: p2r(6);
  line-height: 0;
  .title-bullet {
    display: inline-block;
    width: p2r(6);
    height: p2r(6);
    margin: 0 p2r(5);
    background-color: $blue;
    &:nth-child(1) {
      background-color: $yellow;
    }
    &:nth-child(2) {
      background-color: $green;
    }
    &:nth-child(3) {
      background-color: $red;
    }
  }
}

.honor-badge {
  position: relative;
  width: 150px;
  height: 150px;
  &-container {
    width: p2p(82, 150);
    height: p2p(78, 150);
    @include absoluteCenter;
    z-index: 10;
  }
  &-shield {
    @include absoluteCenter;
    width: 100%;
    height: 100%;
  }

  &-content {
    @include absoluteCenter;
    display: inline-block;
    text-align: center;
    font-size: p2r(38);
    color: $darkBlue;
    font-weight: bold;
    line-height: 1;
    top: p2p(28, 72);
  }

  &-stars {
    @include absoluteCenter;
    line-height: 0;
    top: auto;
    transform: translateX(-50%);
    width: p2p(65, 82);
    bottom: p2p(10, 78);
  }

  img {
    width: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    opacity: 0.55;
    background-color: #d9b08c;
    z-index: 0;
  }

  &::after {
    content: '';
    width: p2p(134, 150);
    height: p2p(134, 150);
    border-radius: 50%;
    opacity: 0.3;
    @include absoluteCenter;
    background-color: #dfd2fa;
    z-index: 1;
  }
}

.terms-cookies {
  position: relative;
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
  padding: p2r(40);
}

.terms-cookies-paper {
  width: 100%;
  overflow: auto;
  height: 100%;
  text-align: left;

  h4 {
    width: 100%;
    font-size: p2r(22);
    margin: {
      top: p2r(20);
      bottom: p2r(20);
    }
    color: $titleColor;
  }
  .tc-description {
    position: relative;
    width: 100%;
    font-size: p2r(14);
    margin: {
      top: p2r(20);
      bottom: p2r(20);
    }
    color: $titleColor;
    a {
      font-size: p2r(14);
      width: 100%;
    }
  }

  @include media($tablet) {
    h4 {
      font-size: p2r(36);
      font-weight: bold;
    }
    .tc-description {
      font-size: p2r(28);
    }
  }
}

.popup-overlay {
  z-index: 9999 !important;
}

.popup-content {
  border-radius: p2r(20);
  padding: p2r(40);
  a.close {
    position: absolute;
    font-size: 2rem;
    right: 1rem;
    cursor: pointer;
    color: black;
  }
  @include media($tablet) {
    width: 80% !important;
  }
}

.popup-modal {
  width: 100%;
}

.popup-content .modal {
  position: relative !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: block !important;
  overflow: visible;
}

a {
  &:focus {
    outline: none;
  }
}

a.close {
  z-index: 199;
}

.preview-box {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: none;
}

.hidden {
  display: none !important;
}

#currVideo {
  width: 100%;
  max-height: 500px;
}

.video-popup {
  .MuiDialog-paper {
    max-width: none;
    width: 60%;
    margin: 0;
    @include media($tablet) {
      width: 100%;
    }
    .MuiDialogContent-root {
      padding: 0;
    }
  }
  video {
    width: 100%;
  }
}

video {
  display: block;
}
