@import '../mixins/index.scss';

#home {
  padding-top: 100px;
  @include media($medium) {
    padding-top: p2r(100);
  }
  h1 {
    font-size: p2r(40);
    font-weight: bold;
    color: $titleColor;
    padding: 0;
    margin: 0;
  }

  p {
    font-size: p2r(18);
    color: $paragraph;
    margin: {
      top: p2e(16, 28);
      bottom: p2e(16, 28);
    }
    @include media($tablet) {
      font-size: p2r(28);
      margin: p2e(16, 28) p2e(40, 28);
    }
  }

  .herobanner-button {
    border-radius: p2e(28, 18);
    font-size: p2r(18);
    line-height: 1em;
    padding: p2e(10, 18) p2e(20, 18);
    color: $paragraph;
    border: 1px solid $paragraph;
    @include media($tablet) {
      border-radius: p2e(48, 28);
      font-size: p2r(28);
      padding: p2e(20, 28) p2e(40, 28);
    }
  }

  .hero-image {
    div {
      background: none;
    }
  }

  @include media($tablet) {
    .hero-container {
      flex-direction: column-reverse;
    }

    .hero-text,
    .hero-image {
      max-width: 100%;
      width: 100%;
      flex-basis: 100%;
      text-align: center;
      margin-top: p2r(40);
    }

    padding-bottom: p2r(100);
  }
}

.MuiDialog-root {
  &.herobanner-dialog {
    .MuiDialog-paper {
      padding: p2r(20);
      @include media($tablet) {
        margin: 0;
      }
    }
  }
  .herobanner-button {
    border-radius: p2e(28, 18);
    line-height: 1em;
    padding: p2e(10, 18) p2e(20, 18);
    color: $paragraph;
    border: 1px solid $paragraph;
    margin-bottom: p2e(20, 18);
    text-align: center;
    display: block;
    @include media($tablet) {
      border-radius: p2e(48, 28);
      font-size: p2r(28);
      padding: p2e(20, 28) p2e(30, 28);
    }
  }
}
