@import '../mixins/index.scss';

#home {
  padding-top: 100px;
  @include media($medium) {
    padding-top: p2r(100);
  }
  h1 {
    font-size: p2r(40);
    font-weight: bold;
    color: $titleColor;
    padding: 0;
    margin: 0;
  }

  p {
    font-size: p2r(28);
    color: $paragraph;
    margin: {
      top: p2e(16, 28);
      bottom: p2e(16, 28);
    }
  }

  .hero-image {
    div {
      background: none;
    }
  }

  @include media($tablet) {
    .hero-container {
      flex-direction: column-reverse;
    }

    .hero-text,
    .hero-image {
      max-width: 100%;
      width: 100%;
      flex-basis: 100%;
      text-align: center;
      margin-top: p2r(40);
    }

    padding-bottom: p2r(100);
  }
}
