@import '../mixins/index.scss';

.judge-wrap {
  background: none;
  position: relative;
  padding-top: p2p(761, 1440);
  z-index: 9;
  background: #141414;
  background: #000000;
  .title {
    font-size: p2r(50);
    font-weight: bold;
    color: $titleColor;
    line-height: 1;
    text-align: center;
  }

  p {
    font-size: p2r(28);
    color: $paragraph;
    margin: {
      top: p2e(16, 28);
      bottom: p2e(16, 28);
    }
  }

  h3 {
    font-size: p2r(28);
    font-weight: bold;
  }

  h5 {
    font-size: p2r(14);
    color: $titleColor;
    margin-top: p2r(20);
  }

  .judge-backgroud {
    position: absolute;
    top: p2p(-280, 1440);
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .judge-container {
    position: absolute;
    margin-top: p2r(140);
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 10;
    box-sizing: border-box;
  }

  .swiper-container {
    margin-top: p2p(90, 1440);
  }

  .swiper-slide {
    transform: scale(0.6);
    width: p2r(740);
    margin: {
      left: -100px;
      right: -100px;
    }
    transition: all 0.3s ease 0.2s;
  }

  .swiper-card-container {
    width: p2r(740);
    height: p2r(300);
    position: relative;
    .swiper-card-inner {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      .avatar-container {
        width: p2r(180);
        height: p2r(180);
        @include absoluteCenter;
        left: 50%;
        z-index: 10;
        .avatar-prev {
          left: auto;
          right: 110%;
          opacity: 0;
          @include media($tablet) {
            display: none;
          }
        }
        .avatar-next {
          right: auto;
          left: 110%;
          opacity: 0;
          @include media($tablet) {
            display: none;
          }
        }
        .avatar-large {
          width: 100%;
          height: 100%;
          box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
            0px 3px 4px 0px rgba(0, 0, 0, 0.14),
            0px 1px 8px 0px rgba(0, 0, 0, 0.12);
        }
      }
      .card-container {
        width: p2p(614, 740);
        @include absoluteCenter;
        left: auto;
        right: 0;
        transform: translateY(-50%);
        height: 98%;
        padding-left: p2p(167, 614);
        box-sizing: border-box;
        overflow: visible;
        z-index: 9;
        box-sizing: border-box;
        border-radius: p2r(20);
        box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
          0px 3px 4px 0px rgba(0, 0, 0, 0.14),
          0px 1px 8px 0px rgba(0, 0, 0, 0.12);
        opacity: 0;
        .card-content {
          @include absoluteCenter;
          width: p2p(390, 614);
          padding-left: p2r(167);
          box-sizing: content-box;
        }
      }
    }
  }

  .swiper-slide-active {
    transform: scale(1);
    transition: all 0.3s ease 0.2s;

    .swiper-card-container {
      .swiper-card-inner {
        .avatar-container {
          left: p2r(90+32);
          transform: scale(1) translate(-50%, -50%);
          .avatar-prev {
            opacity: 1;
          }
          .avatar-next {
            opacity: 1;
          }
        }
        .card-container {
          opacity: 1;
        }
      }
    }
  }

  @include media($tablet) {
    z-index: 11;
    padding-top: 0;
    padding-bottom: p2r(500);
    @include media($mobile) {
      padding-bottom: p2r(100);
    }
    .title {
      font-size: p2r(75);
    }

    h3 {
      font-size: p2r(32);
      font-weight: bold;
    }

    h5 {
      font-size: p2r(28);
      color: $titleColor;
      margin-top: p2r(20);
    }

    .judge-container {
      position: relative;
      box-sizing: border-box;
    }

    .judge-backgroud {
      top: p2p(-280, 750);

      div {
        height: 55% !important;
        overflow: hidden;
        box-sizing: content-box;
        img {
          width: auto !important;
        }
      }
    }

    .swiper-container {
      margin-top: p2p(100, 750);
    }

    .swiper-slide {
      width: p2r(580);
      margin: {
        left: p2r(-100);
        right: p2r(-100);
      }
      transition: all 0.3s ease 0.2s;
    }

    .swiper-card-container {
      width: p2r(580);

      height: p2r(500);
      .swiper-card-inner {
        .avatar-container {
          left: 50%;
        }
        .card-container {
          .card-content {
            width: p2p(400, 580);
            padding-left: p2r(100);
          }
        }
      }
    }

    .swiper-slide-active {
      .swiper-card-container {
        width: p2r(580);
        .swiper-card-inner {
          .avatar-container {
            left: p2r(90);
          }
        }
      }
    }
  }
}
